.navbar-default{background-image: none; background-color:"#727f7f"}

#headerPic{background-image: url("../img/skye-1400x500.jpg"); background-position: center center;
    width:100%; height:430px;}

body{font-family: 'Ubuntu', sans-serif;}

/*Navigstion styles */
nav.navbar-default{background-color: hsl(187, 40%, 65%)}
#navbar ul li a{color: white; }
#navbar ul li a:hover{color: rgb(0, 102, 255); }
.spacer{width:100%; height:50px;}

/* Section styles */
#what{background-color:#4b8f94; padding: 15px 0 40px 0;}
#disc{background-color:#4e8b65; padding: 15px 0 40px 0;}
#videos{background-color:#e2d75a; padding: 15px 0 40px 0;}
#trails{background-color:#76cae4; padding: 15px 0 40px 0;}
#join{background-color: #b6d7a8;; padding: 15px 0 40px 0;}

/*thanks styles*/
.thanks{background-color:#e2d75a; }
.thanks h1{font-size:60px; text-align: center;}

/*Header styles*/
.headMargin{margin-top:140px;}

/*Trails*/
#ENG, #SCO, #WAL{display: none;}

/*Footer styles*/
footer{background-color: #ffffff;}
footer li{display: inline; padding-right:15px; }

.mbrBut{margin:10px 10px 25px 0}
video{width:100%}

/*Back to top*/
#topRight{position:absolute; bottom:0; right:-80px;}
.fa-chevron-circle-up{color: white}

/*Bootstrap form*/
#mbrForm{background-color: #a7d0dd; padding: 10px;}
.vertical-gap{margin-bottom: 15px;}
.horizontal-gap{padding-right: 15px;}

@media only screen and (min-width:480px) {
    .h{display: none;}
}

@media only screen and (max-width: 480px) {
    #headerPic{background-image: url("../img/skye-480x250.jpg"); background-position: center center;
    width:100%;height:300px;} 
    .headMargin{margin-top:50px;} 
    footer li{display: ;}
     
}